<style>
  h1 {

    width: fit-content;
    font-weight: bold;
  }
</style>




<div class="row mw-100">

  <div class="col-3">
    <div class="nav flex-column nav-pills border" id="v-pills-tab" role="tablist" aria-orientation="vertical"
      style="height: 100vh;  padding: 20px; padding-top: 40px;">
      <div class="container">
        <div class="row">
          <div class="col" style="margin-right: 0px; padding-right: 0px; width:auto;">
            <h2>MISSION</h2>
          </div>
          <div class="col" style="text-align: start; padding-left: 0px; margin-left: 0px;">
            <h2 style="font-weight:lighter;">PLAN</h2>
          </div>
          <div class="col" style="padding-bottom: 0px; width: auto;">
            <h6 style="font-weight: lighter;">v0.1.0</h6>
          </div>
        </div>
      </div>

      <div class="d-grid gap-1" style="margin-left: 20px; margin-top: 20px ;">
        <button class="btn row"
          style="color: black; font-weight: bold; text-align: start; width: 100%; align-content: center;">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start;">flight</mat-icon>
          </div>
          GENERAL
        </button>
        <button class="btn row"
          style="color: black; font-weight: bold; text-align: start; width: 100%;  align-content: center; ">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start; text-align: start;">sensors</mat-icon>
          </div>
          COMMUNICATIONS
        </button>
        <button class="btn row"
          style="color: black; font-weight: bold; text-align: start; width: 100%;  align-content: center; ">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start;">settings</mat-icon>
          </div>
          CONFIGURATION
        </button>
        <button class="btn row btn-primary"
          style="font-weight: bold; text-align: start; width: 100%;align-content: center; ">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start;">article</mat-icon>
          </div>
          DATALINK
        </button>
      </div>

      <div class="spacer col"></div>
      <button type="button" class="btn btn-light" style="font-weight: bold; background-color: #DEDEDE;">Back</button>

    </div>
  </div>


  <div class="col-9">

    <div class="flex-column nav-pills" style="padding-top: 40px; height: 100vh;" aria-orientation="vertical">
      <div class="row">

        <div class="container">
          <div class="row">

            <div class="col-7">
              <div style=" width: fit-content;">
                <h1 style="font-weight: bold;">DATA LINK</h1>
              </div>
              <div style="margin-top: 30px;"></div>

              <button type="button" class="btn" style="background-color:#DEDEDE; font-weight: normal;">Landing
                Base</button>
              <button type="button" class="btn"
                style="margin-left: 10px; background-color: #DEDEDE; font-weight: normal;">Data
                Link
                Setting</button>
              <button type="button" class="btn btn-primary" style="margin-left: 10px; font-weight: normal;">Pre-Defined
                Text</button>
            </div>

            <div class="col-5">
              <div class=" row">
                <div class="col">
                  <button type=" button" class="btn"
                    style="background-color:#DEDEDE; width: 100%; font-weight: bold;">Import</button>
                </div>
                <div class="col">
                  <button type="button" class="btn"
                    style="background-color:#DEDEDE;  width: 100%; font-weight: bold;">Export</button>
                </div>
                <div class="col">
                  <button type="button" class="btn"
                    style="background-color:#DEDEDE;  width: 100%; font-weight: bold;">Print</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="row" style="height: max-content;">
        <div class="container-fluid " style="height: max-content;">
          <div class="row">

            <div class="col-5">
              <form class="d-grid gap-2">

                <h3 style="font-weight: bold; margin-top: 16px; margin-bottom: 16px;">Pre-Defined Text (5/99)</h3>

                <div class="form-group row ">
                  <label for="inputPassword" class="col-4" style="width: fit-content;">Index :</label>
                  <div class="col spacer"></div>
                  <div class="col-8">
                    <input type="number" class="form-control" id="inputPassword">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword" class=" col-4" style="width: fit-content;">Category :</label>
                  <div class="col spacer"></div>
                  <div class="col-8">
                    <input type="number" class="form-control" id="inputPassword">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword" class="col-4" style="width: fit-content;">Text Identity :</label>
                  <div class="col spacer"></div>
                  <div class="col-8">
                    <input type="number" class="form-control" id="inputPassword">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputPassword" class="col-4" style="width: fit-content;">Heading :</label>
                  <div class="col spacer"></div>
                  <div class="col-8">
                    <input type="number" class="form-control" id="inputPassword">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputPassword" class=" col-4" style="width: fit-content;">Body :</label>
                  <div class="col spacer"></div>
                  <div class="col-8">
                    <input type="number" class="form-control" id="inputPassword">
                  </div>
                </div>

                <div class="row">

                  <div class="col">
                    <button type="button" class="btn"
                      style="background-color:#D13C3C; font-weight: bold; color: white; width: 100%;">Delete</button>
                  </div>
                  <div class="spacer col">
                  </div>
                  <div class="col">
                    <button type="button" class="btn"
                      style="background-color: #DEDEDE; font-weight: bold; width: 100%;">Cancel</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-primary"
                      style=" font-weight: bold; width: 100%;">Update</button>
                  </div>



                </div>
              </form>
            </div>

            <div class="col-7" style="margin-top: 16px; padding-left: 32px;">

              <h5 style="margin-left: 16px; font-weight: bold;">Pre-Defined Text Lists</h5>

              <div class="row" style="margin-top: 16px; margin-right: 170px;">

                <button type="button" class="col btn btn-light"
                  style="font-weight: bold; margin-left: 8px;">00-19</button>
                <button type="button" class="col btn btn-light"
                  style="font-weight: bold; margin-left: 8px;">20-39</button>
                <button type="button" class="col btn btn-light"
                  style="font-weight: bold;  margin-left: 8px;">40-59</button>
                <button type="button" class="col btn btn-light"
                  style="font-weight: bold;  margin-left: 8px;">60-79</button>
                <button type="button" class="col btn btn-light"
                  style="font-weight: bold; margin-left: 8px;">80-99</button>

              </div>

              <div class="overflow-auto" style="height: 500px;  margin-right: 120px;">

                <div class="col border" style=" border-radius: 5px; margin-top: 32px;">

                  <div class="container">

                    <div class="row">
                      <h4 class="col-1" style="color:#1E90FF; width: auto;">#00</h4>
                      <h5 class="col-1">Index</h5>
                    </div>

                    <div class="row">
                      <div class="col-3">
                        <p class="fs-6" style="text-align: center; ">Category</p>
                        <h4 style="text-align: center;">
                          3
                        </h4>
                      </div>
                      <div class="col-3">
                        <p class="fs-6" style="text-align: center;">
                          Text Identity
                        </p>
                        <h4 style="text-align: center;">
                          1
                        </h4>
                      </div>
                      <div class="col-3">
                        <p class="fs-6" style="text-align: center;">
                          Text Identity
                        </p>
                        <h4 style="text-align: center;">
                          -
                        </h4>

                      </div>
                    </div>

                    <div class="row">
                      <p class="fs-6" style="text-align: start; ">Runway Code</p>
                      <h4 style="text-align: start;">
                        Your Target is on the right. Take another look and reply I....
                      </h4>
                    </div>
                  </div>

                </div>




              </div>


            </div>
          </div>
        </div>
      </div>

      <div class="spacer col"></div>

      <div class="row" style="margin-bottom: 64px;">
        <div class="col">
          <button type="button" class="btn"
            style="background-color: #DEDEDE; font-weight: bold; width: 100%;">Reset</button>
        </div>

        <div class="col">
          <button type="button" class="btn"
            style=" font-weight: bold; width: 100%; background-color: #1C8246; color: white;">Save</button>
        </div>

        <div class="col-9"></div>
      </div>
    </div>

  </div>
</div>


<router-outlet></router-outlet>