<style>
  h1 {

    width: fit-content;
    font-weight: bold;
  }

  .card-active {
    border-radius: 5px;
    margin-top: 32px;
    border-width: 3px !important;
    border-color: #1E90FF;
  }

  .card-inactive {
    border-radius: 5px;
    margin-top: 32px;
    border-width: 3px !important;
  }
</style>




<div class="row mw-100">

  <div class="col-3">
    <div class="nav flex-column nav-pills border" id="v-pills-tab" role="tablist" aria-orientation="vertical"
      style="height: 100vh;  padding: 20px; padding-top: 40px;">
      <div class="container">
        <div class="row">
          <div class="col" style="margin-right: 0px; padding-right: 0px; width:auto;">
            <h2>MISSION</h2>
          </div>
          <div class="col" style="text-align: start; padding-left: 0px; margin-left: 0px;">
            <h2 style="font-weight:lighter;">PLAN</h2>
          </div>
          <div class="col" style="padding-bottom: 0px; width: auto;">
            <h6 style="font-weight: lighter;">v0.1.0</h6>
          </div>
        </div>
      </div>

      <div class="d-grid gap-1" style="margin-left: 20px; margin-top: 20px ;">
        <button routerLink="/general-component" routerLinkActive="active"
          [ngClass]="this.currentRoute === '/general-component' ? 'btn row btn-primary':'btn row'"
          style="font-weight: bold; text-align: start; width: 100%;align-content: center; ">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start;">flight</mat-icon>
          </div>
          GENERAL
        </button>
        <button routerLink="/communications-component" routerLinkActive="active"
          [ngClass]="this.currentRoute === '/communications-component' ? 'btn row btn-primary':'btn row'"
          style="font-weight: bold; text-align: start; width: 100%;align-content: center; ">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start; text-align: start;">sensors</mat-icon>
          </div>
          COMMUNICATIONS
        </button>
        <button routerLink="/configuration-component" routerLinkActive="active"
          [ngClass]="this.currentRoute === '/configuration-component' ? 'btn row btn-primary':'btn row'"
          style="font-weight: bold; text-align: start; width: 100%;align-content: center; ">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start;">settings</mat-icon>
          </div>
          CONFIGURATION
        </button>
        <button routerLink="/datalink-component" routerLinkActive="active"
          [ngClass]="this.currentRoute === '/datalink-component' ? 'btn row btn-primary':'btn row'"
          style="font-weight: bold; text-align: start; width: 100%;align-content: center; ">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start;">article</mat-icon>
          </div>
          DATALINK
        </button>
        <button routerLink="/sms-component" routerLinkActive="active"
          [ngClass]="this.currentRoute === '/sms-component' ? 'btn row btn-primary':'btn row'"
          style="font-weight: bold; text-align: start; width: 100%;align-content: center; ">
          <div style="width: auto">
            <mat-icon style="padding: 0px; margin: 0px; text-align: start;">sms</mat-icon>
          </div>
          SMS
        </button>
      </div>

      <div class="spacer col"></div>
      <button type="button" class="btn btn-light" style="font-weight: bold; background-color: #DEDEDE;">Back</button>

    </div>
  </div>
  <div class="col-9">

    <router-outlet></router-outlet>
  </div>
</div>